<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.surrel.geoposts"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <permission
        android:name="org.surrel.geoposts.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="org.surrel.geoposts.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.surrel.geoposts.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.surrel.geoposts.ViewMap"
            android:label="@string/title_activity_get_location"
            android:parentActivityName="org.surrel.geoposts.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.surrel.geoposts.MainActivity" />
        </activity>
        <activity
            android:name="org.surrel.geoposts.NewGeopost"
            android:label="@string/title_activity_new_geopost"
            android:parentActivityName="org.surrel.geoposts.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.surrel.geoposts.MainActivity" />
        </activity>
        <activity
            android:name="org.surrel.geoposts.Preferences"
            android:label="@string/title_activity_preferences"
            android:parentActivityName="org.surrel.geoposts.MainActivity"
            android:theme="@style/backgroundstyle" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.surrel.geoposts.MainActivity" />
        </activity>
        <activity
            android:name="org.surrel.geoposts.MyGeoposts"
            android:label="@string/title_activity_my_geoposts"
            android:parentActivityName="org.surrel.geoposts.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.surrel.geoposts.MainActivity" />
        </activity>
        <activity
            android:name="org.surrel.geoposts.MyGeoPostDetails"
            android:label="@string/title_activity_sample_activity"
            android:parentActivityName="org.surrel.geoposts.MyGeoposts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.surrel.geoposts.MainActivity" />
        </activity>
        <activity
            android:name="org.surrel.geoposts.FirstLaunchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.surrel.geoposts.LogIn"
            android:label="@string/login"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name="org.surrel.geoposts.SignUp"
            android:label="@string/signup"
            android:parentActivityName="org.surrel.geoposts.LogIn"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.surrel.geoposts.LogIn" />
        </activity>
        <activity
            android:name="org.surrel.geoposts.ViewGeopost"
            android:label="@string/view_geopost"
            android:parentActivityName="org.surrel.geoposts.ViewMap"
            android:theme="@style/Transparent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.surrel.geoposts.GetLocation" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCjYQNqi792KQCpp3cg1XbKSwKGCHZ5zOc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>